
/* Общий стиль для всего документа */
body {
    font-family: Arial, sans-serif;
     /* Очень темный фон */
    color: white; /* Белый текст по умолчанию для контраста */
    margin: 0;
    padding: 0;
}

/* Контейнер для основного контента */
.main-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #1e1e1e; /* Темный фон для контейнера */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7); /* Темная тень */
    border-radius: 10px;
}

/* Стиль для заголовков */
.header-name {
    color: #121212; /* Светлый цвет для заголовка "Список задач" */
}

/* Стиль для добавления новой задачи */
.add-task-section {
    margin-bottom: 20px;
}

.add-task__form {
    display: flex;
}

.add-task{
    color:#121212;
}

.add-task__input-wrapper {
    display: flex;
    flex-direction: column;
}

/* Стиль для поля ввода и кнопки добавления задачи */
input[type="text"] {
    padding: 10px;
    width: 100%;
    margin-right: 10px;
    background-color: #333333; /* Темный фон для поля ввода */
    color: white; /* Белый цвет текста в поле */
    border: 1px solid #555555; /* Серая рамка */
}

button {
    display: flex;
    align-items: center;
    background-color: #735af4;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f34c0a;
}

.task-btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    
}


.clear-trash-button:hover {
    background-color: #f6e81f;
}

/* Стиль для области с задачами */
.task-list-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.taskboard {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.task-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 250px;
    border-radius: 8px;
    gap: 6px;
}

#backlog > .task {
    padding: 15px;
    color: #121212;
    border-left: 2px solid #fb2c2c;
    border-radius: 8px;
}

#progress > .task {
    padding: 15px;
    color: #121212;
    border-left: 2px solid #007a90d8;
    border-radius: 8px;
}

#completed > .task {
    padding: 15px;
    color: #121212;
    border-left: 2px solid #008705d8;
    border-radius: 8px;
}

#trash > .task {
    padding: 15px;
    color: #121212;
    border-left: 2px solid #000287d8;
    border-radius: 8px;
}

/* Стиль для разных типов задач */
.backlog-title {
    background-color: #fb2c2c;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.backlog-item {
    background-color: #fb2c2c;
    color: white; /* Цвет текста для задач в Бэклоге */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

/* Стиль для задач в процессе */
.in-progress-title {
    background-color: #007a90d8;
    color: rgb(136, 138, 255);
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #735af4;
    border-radius: 5px;
}

.in-progress-item {
    background-color: #007a90d8;
    color: rgb(136, 138, 255); /* Цвет текста для задач в процессе */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

/* Стиль для готовых задач */
.completed-title {
    background-color: #008705d8;
    color: rgb(136, 255, 140);
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #5af45a;
    border-radius: 5px;
}

.completed-item {
    background-color: #008705d8;
    color: rgb(136, 255, 140); /* Цвет текста для готовых задач */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

/* Стиль для задач в корзине */
.trash-title {
    background-color: #000287d8;
    color: rgb(255, 136, 136);
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #f45a64;
    border-radius: 5px;
}

.trash-item {
    background-color: #000287d8;
    color: rgb(255, 136, 136); /* Цвет текста для задач в корзине */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

/* Стиль для списка задач */
ul {
    list-style-type: none;
    padding: 0;
}
